body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    text-align: center;
}

textarea {
    display: block;
}

#flex-container {
    display: flex;
    justify-content: space-around;
}